body {font-family:Verdana,Tahoma,Arial,sans-serif;}
#content pre,
#content code {font-family:monospace,"Courier New",Courier;font-size:100%;}
#content dfn,
#content var,
#content samp,
#content kbd {font-family:Verdana,Tahoma,Arial,sans-serif;}

#content table.cheetan_sql_log {text-align:center;border:black solid 1px;empty-cells:show;}
#content table.cheetan_sql_log th {background-image:url('images/menubar.gif');vertical-align:center;height:26px;color:#000;text-align:center;}
#content table.cheetan_sql_log td {border-top:gray solid 1px;}
#content table.cheetan_sql_log_demo {}
#content table.cheetan_sql_log_demo th {background:none;height:1;color:#000;text-align:center;}
#content table.cheetan_sql_log_demo td {}
